* {
    box-sizing: border-box;
}

html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 140px;
    font-size: large;
    border: 1px solid black;
}

.content {
    display: flex;
    height: calc(100vh - 160px);
}

.left-part {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    border: 1px solid black;
    border-right: 0;
    border-top: 0;
    padding: 10px;
}

.right-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    border: 1px solid black;
    border-top: 0;
    padding: 10px;
}

.page2-link {
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black;
    padding: 8px;
}

@media only screen and (max-width: 850px) {
    .content {
        flex-direction: column;
    }

    .left-part {
        width: 100%;
        border-right: 1px solid black;
        height: 40%;
    }

    .right-part {
        width: 100%;
        height: 60%;
    }
}